/* Importing fonts from Google */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap'); */

/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
 
body {
    background:rgb(255, 255, 255);
}
.container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    height: 112px;
    align-items: center;
    background-color:#ffffff;
    border-radius: 20px;
    box-shadow: 1px 1px 1px #cbced1, -3px -3px 2px #fff;
}
.colored{
    background-color: #03A9F4;
}
body .center
{
    margin-left: 30%;
    position:absolute;
    text-align: center;
}
body .center1{
    text-align: center;
    color: #6a62d5;
    font-size: 50px;
    width:0ch;
    overflow:hidden;
    white-space: nowrap;
    animation:text 10s steps(26) infinite;
    border-right: 2px solid black;
}
@keyframes text{
    0%{
        width:0ch;
    }
    50%{
        width:26ch;
    }
}
.logo1 {
    height: 21px;
    width: 170px;
    background-color: #063563;
    margin-left: 20px;
    margin-bottom: 127px;
}
 
.center2{
    justify-content: center;
}
.wrapper {
    max-width: 350px;
    min-height: 500px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    margin-top: 40px;
    background-color:  #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.logo {
    width: 300px;
    margin: auto;
}

.logo h1{
    color:#635ea5;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    padding: 50px 0 30px 0;
    font-family:'Poppins',sans serif;
      
    
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555;
}
.label
{
    font-size: 1.1rem;
    font-weight: 500;
}
.wrapper .form-field input {
    width: 100%;
    height: 30px;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1rem;
    color: #666;
    padding-left: 18px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
    /* padding: 10px 15px 10px 10px; */
    /* border: 1px solid red; */
}
/* 
.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
} */

.wrapper .form-field .fas {
    color: #555;
}

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color:#754d99;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1,
        -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

.wrapper .btn:hover {
    background-color: #039BE5;
}

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #03A9F4;
}

.wrapper a:hover {
    color: #039BE5;
}

@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}